.searchbar{
   display: flex;
  }

.text{
    margin-top: 20px;
    margin-left: 500px;
    width: 500px;
    height: 20px;
    border-radius: 5px;
    border-color:black ;
    
  }
  .search-icon {
    color: black; 
    margin-top: 23px;
  }
    
  

