.phrma{
    width: 200px;
    height: 30px;
    border-radius:10px;
    color: red;
    border-color: red;
    background: transparent;
 }
 .phrmas{
     color: red;
     text-decoration: none;
 }
 .h6{
     background-image: url('https://t3.ftcdn.net/jpg/02/19/17/40/240_F_219174083_ItL6qiNCPvydruWbWs3jfLzDpaM2XIof.jpg');
     width: 300px;
     height: 2400px;
     
 }
 .typo{
     font-size: larger;
     font-family: 'Times New Roman';
 }
 .cards{
     display: flex;
     flex-direction: row;
     
 }

 .movec{
     margin-left: 50px;
 }
 .allcons{
     font-size: larger;
     font-family: 'Times New Roman';
     color:black;
     text-decoration: none;
     margin-top: 20px;
 } 
.phrmasss{

    width: 150px;
    height: 30px;
    border-radius:10px;
    color: red;
    border-color: red;
    background: transparent;
}



